html {
    height:100%;
}
body {
	font-weight: 400;
    font-size: 1em;
    text-align:center;
    font-family: 'Lato', 'Avenir Next', Arial, sans-serif;
    color:#8a8c7e;
    height:100%;
}

#app {
    width: 100%;
    height: 100%;
    display:flex;
}

@import 'weather';
@import 'city';